body {
    background-image: url("img/fundo.png");
    background-size: 100%;
    margin: 0px;
}

.cabeçalho {
    width: 100%;
    height: 5rem;
  /* border: 110px solid #423E3E; */
  margin: 0px;
  background-color: #423E3E;
  display: flex;
  justify-content: center;
  
  
}

/* .pesquisa {
    width: 15rem;
    height: 15rem;
  background-color: #143094;
  
} */

.pesquisa2 {
  height: 65px;
  background-color:  #143094 ;
  border-radius: 00% 0% 50% 50%;
}